<div class="container project-card-container">

  <div class="row row-reverse" [class.reverse]="reverseLayout">

    <div class="col-12 col-lg-6 image-column">
      <div class="image" >
        <img 
          [src]="project.getMediaCover()"
          class="img-fluid"
          (click)="navigateToProjectDetail(project.getSlug())"
        >
      </div>
    </div>

    <div class="col-12 col-lg-6 description-column">
      <p class="project-name">{{ project.getName() | translate }}</p>
      <div class="project-description">
        <p class="project-summary">{{ project.getSummary() | translate }}</p>
        <button mat-button (click)="navigateToProjectDetail(project.getSlug())">{{ 'shared.project-card.learn-more' | translate }}</button>
      </div>
      <div class="project-technologies">
        @for (tech of project.getTechnologies(); track tech) {
          <div class="tech-chip">{{ tech }}</div>
        }
      </div>
      <div class="actions">
        @if(project.getProjectUrl()) {
          <button matIconButton class="link-icon" (click)="openProjectUrl(project.getProjectUrl()!)">
          <mat-icon>open_in_new</mat-icon>
        </button>
        } 
      </div>
    </div>

  </div>

</div>